h2 {
    font-family: tahoma;
}

td {
    font-family: tahoma;
    text-align: center;
    vertical-align: middle;
}

table {
    table-layout: auto;
    
    margin-left:0%;
    text-align:center;
    width:50%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align:center;
}
th, td {
    padding: 15px;
    text-align: left;
}

table#t01 tr:nth-child(even)

{
    background-color: #eee;
}

table#t01 tr:nth-child(odd) 

{
    background-color: #fff;
}

table#t01 th 

{
    color: white;
    background-color: black;
}

table#t02 tr:nth-child(even)

{
    background-color: #eee;
}

table#t02 tr:nth-child(odd) 

{
    background-color: #fff;
}

table#t02 th 

{
    color: white;
    background-color: black;
}
