@charset "utf-8";
/* CSS Document */

/*importing icon library*/

@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
/*importing google fonts*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');
/*importing google fonts*/

@import url('https://fonts.googleapis.com/css?family=Pacifico');
body {
	text-decoration: none !important;
	color: #605f5f !important;
	font-family: 'Montserrat', sans-serif !important;
	font-size: 13px !important;
}

a,
p,
dropdown-menu,
dropdown-item,
li {
	font-size: 13px !important;
	color: #605f5f !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #7b7979 !important;
}

strong {
	font-weight: 500 !important;
}

a:focus,
a:hover {
	text-decoration: none !important;
	color: white !important;
}

li,
a,
.btn-link {
	text-decoration: none !important;
}

.btn {
	border-radius: 0px !important;
}

.active {
	background-color: #161616;
}

.navbar {
	background-color: #1a1a1a !important;
}

.nav-link:focus,
.nav-link:hover {
	background-color: #161616;
}

.nav-link {
	padding: 12px 16px !important;
	color: white !important;
}

.dropdown:active>.dropdown-menu {
	display: block;
	transition: 0s, 1s;
}

@media (min-width: 992px) {
	.dropdown:hover>.dropdown-menu {
		display: block;
		transition: 0s, 1s;
	}
}
.dropdown-item {
	padding: 0px !important;
}

.dropdown-menu {
	border: 1px solid rgb(233, 236, 239) !important;
	border-radius: 0 !important;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
	background-color: #fdfdfd !important;
	border-color: #e9ecef !important;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-toggler {
	border-color: transparent !important;
}

button:focus {
	outline: 0px auto -webkit-focus-ring-color !important;
}

.nav.nav-tabs {
	float: left;
	display: block;
	border-bottom: 0;
	border-right: 1px solid #e8e8e8 !important;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link.active {
	border-color: transparent !important;
	background-color: #f2f2f2 !important;
}

.nav-tabs {
	border-bottom: 0px;
}

/*making icons dark*/

.fa,
.fas {
	font-weight: 900 !important;
}

/* menu styes */

.list-unstyled,
.list-unstyled ul {
	min-width: 120px
}

/*making tab width to 100%*/

.fw {
	width: 100% !important;
	left: 0 !important;
}

.uneek .nav,
.uneek .collapse,
.uneek .dropup,
.uneek .dropdown {
	position: static;
}

.uneek .container {
	position: relative;
}

.uneek .dropdown-menu {
	left: auto;
}

.uneek .uneek-content {
	padding: 10px 10px;
}

.uneek .dropdown.uneek-fw .dropdown-menu {
	left: 0;
	right: 0;
}

.card-body {
	/*for accordion tab*/
	font-size: 13px;
	padding: 0 !important;
	height: auto !important;
	color: #605f5f !important;
}

.acctab {
	background: #f2f2f2 !important;
	font-size: 14px !important;
}

.tab-content>.active {
	display: block;
	background-color: #fdfdfd !important;
	min-height: auto;
}

/*changing link properties for listing class*/

.listing li>a {
	color: #605f5f !important;
	display: block;
	padding: 12px 10px !important;
}

.listing li>a:hover {
	color: #505050 !important;
	text-decoration: none;
	background-color: #f2f2f2 !important;
}

/*changing link prop of homt-tab*/

.hometab li>a {
	color: #605f5f !important;
	display: block;
	padding: 6px 4px !important;
}

.hometab li>a:hover {
	color: #505050 !important;
	text-decoration: none;
}

/*changing link properties of tabs-tab*/

.tabs li>a {
	color: #605f5f !important;
	display: block;
	padding: 12px 10px !important;
}

.tabs li>a:hover {
	color: #505050 !important;
	text-decoration: none;
}

/*changing link properties of table tab*/

.tabletab li>a {
	color: #605f5f !important;
	display: block;
	padding: 6px 4px !important;
}

.tabletab li>a:hover {
	color: #505050 !important;
	text-decoration: none;
}

/*subtitle in table tab*/

.subtitle li>a {
	padding: 0 !important;
}

.subtitle>li {
	padding: 5px !important;
}

/*Hover properties and classes for watch (image tab)*/

figure.watch-hover {
	position: relative;
	float: left;
	overflow: hidden;
	width: 100%;
	color: #ffffff;
	text-align: left;
	font-size: 13px;
	background-color: #000000;
}

figure.watch-hover * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}

figure.watch-hover img {
	max-width: 100%;
	backface-visibility: hidden;
	vertical-align: top;
}

figure.watch-hover:after,
figure.watch-hover figcaption {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

figure.watch-hover:after {
	content: '';
	background-color: rgba(0, 0, 0, 0.65);
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
	opacity: 0;
}

figure.watch-hover figcaption {
	z-index: 1;
	padding: 40px;
}

figure.watch-hover h4,
figure.watch-hover .links {
	width: 100%;
	margin: 5px 0;
	padding: 0;
}

figure.watch-hover h4 {
	text-transform: uppercase;
	opacity: 0;
}

figure.watch-hover p {
	font-size: 13px;
	opacity: 0;
	top: 50%;
	-webkit-transform: translateY(40px);
	transform: translateY(40px);
}

figure.watch-hover i {
	position: absolute;
	bottom: 10px;
	right: 10px;
	padding: 20px 25px;
	font-size: 34px;
	opacity: 0;
	-webkit-transform: translateX(-10px);
	transform: translateX(-10px);
}

figure.watch-hover a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

figure.watch-hover:hover img,
figure.watch-hover.hover img {
	zoom: 1;
	filter: alpha(opacity=50);
	-webkit-opacity: 0.5;
	opacity: 0.5;
}

figure.watch-hover:hover:after,
figure.watch-hover.hover:after {
	opacity: 1;
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
}

figure.watch-hover:hover h4,
figure.watch-hover.hover h4,
figure.watch-hover:hover p,
figure.watch-hover.hover p,
figure.watch-hover:hover i,
figure.watch-hover.hover i {
	-webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
	opacity: 1;
	color: white !important;
}

/*Read more hover(tabs)*/

.readmore-hover {
	background-color: #000;
	display: inline-block;
	font-size: 16px;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 100%;
}

.readmore-hover * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}

.readmore-hover:before,
.readmore-hover:after {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
	background-color: #000000;
	border-left: 3px solid #fff;
	border-right: 3px solid #fff;
	content: '';
	opacity: 0.9;
	z-index: 1;
}

.readmore-hover:before {
	-webkit-transform: skew(45deg) translateX(-155%);
	transform: skew(45deg) translateX(-155%);
}

.readmore-hover:after {
	-webkit-transform: skew(45deg) translateX(155%);
	transform: skew(45deg) translateX(155%);
}

.readmore-hover img {
	backface-visibility: hidden;
	max-width: 100%;
	vertical-align: top;
}

.readmore-hover figcaption {
	top: 50%;
	left: 50%;
	position: absolute;
	z-index: 2;
	-webkit-transform: translate(-50%, -50%) scale(0.5);
	transform: translate(-50%, -50%) scale(0.5);
	opacity: 0;
	-webkit-box-shadow: 0 0 10px #000000;
	box-shadow: 0 0 10px #000000;
}

.readmore-hover h4 {
	background-color: #000000;
	border: 2px solid #fff;
	color: #fff !important;
	font-size: 1em;
	font-weight: 600;
	margin: 0;
	padding: 5px 10px;
	text-transform: uppercase;
}

.readmore-hover a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 3;
}

.readmore-hover:hover>img,
.readmore-hover.hover>img {
	opacity: 0.5;
}

.readmore-hover:hover:before,
.readmore-hover.hover:before {
	-webkit-transform: skew(45deg) translateX(-55%);
	transform: skew(45deg) translateX(-55%);
}

.readmore-hover:hover:after,
.readmore-hover.hover:after {
	-webkit-transform: skew(45deg) translateX(55%);
	transform: skew(45deg) translateX(55%);
}

.readmore-hover:hover figcaption,
.readmore-hover.hover figcaption {
	-webkit-transform: translate(-50%, -50%) scale(1);
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
}

/*summer sale hover (accordion tab)*/

.summersale-hover {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 230px;
	max-width: 315px;
	width: 100%;
	text-align: center;
	background-color: #fff !important;
	color: #ffffff !important;
}

.summersale-hover * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.45s ease;
	transition: all 0.45s ease;
}

.summersale-hover img {
	vertical-align: top;
	max-width: 100%;
	backface-visibility: hidden;
}

.summersale-hover figcaption {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 0;
	line-height: 1em;
	-webkit-transform: translateX(-75%) rotate(-180deg);
	transform: translateX(-75%) rotate(-180deg);
}

.summersale-hover figcaption:before {
	content: '';
	background-color: #000000;
	position: absolute;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: -1;
}

.summersale-hover h3 {
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: 400;
	margin: 0;
	letter-spacing: 1px;
	color: white !important;
}

.summersale-hover h3 span {
	display: block;
	font-weight: 800;
	color: white !important;
}

.summersale-hover a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.summersale-hover:hover>img,
.summersale-hover.hover>img {
	opacity: 0.1;
}

.summersale-hover:hover figcaption,
.summersale-hover.hover figcaption {
	-webkit-transform: translate(0px) rotate(0deg);
	transform: translate(0px) rotate(0deg);
	opacity: 1;
}

/*Scroll bar properties*/

#scrollauto::-webkit-scrollbar-track,
#textonly::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#scrollauto::-webkit-scrollbar,
#textonly::-webkit-scrollbar {
	width: 7px;
	background-color: #ffffff;
}

#scrollauto::-webkit-scrollbar-thumb,
#textonly::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #605f5f;
}

.autoscroll {
	overflow-y: scroll;
}

/*contact form within contact tab*/

.contact-form {
	border-left: 1px solid #e3e3e3;
}

.form-control,
.form-control:focus,
.input-group-addon {
	border-color: #e1e1e1;
	border-radius: 0;
	box-shadow: none !important;
}

.contact-form .form-group {
	margin-bottom: 25px;
}

.contact-form .form-control {
	border-width: 0 0 1px 0;
	background-color: transparent !important;
	font-size: 13px !important;
}

.contact-form .input-group-addon {
	padding-left: 5px;
}

.btn.focus,
.btn:focus {
	box-shadow: none !important;
}

.contact-form .btn-default {
	background-color: #3d3d3d;
	color: white;
}

.contact-form .btn:hover,
.contact-form .btn:focus {
	background: white;
	border: 1px solid #3d3d3d;
	color: #3d3d3d;
}

.form-control:focus {
	border-bottom: 1px solid #e1e1e1 !important;
}

.contact-title {
	font-family: 'Pacifico', cursive;
}

/*search within navbar*/

.search-form .form-group {
	float: right !important;
	transition: all 0.35s, border-radius 0s;
	width: 32px;
	height: 32px;
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	border-radius: 25px;
	border: 1px solid #ccc;
}

.search-form .form-group input.form-control {
	padding-right: 20px;
	border: 0 none;
	background: transparent;
	box-shadow: none;
	display: block;
}

.search-form .form-group input.form-control::-webkit-input-placeholder {
	display: none;
}

.search-form .form-group input.form-control:-moz-placeholder {
	/* Firefox 18- */
	display: none;
}

.search-form .form-group input.form-control::-moz-placeholder {
	/* Firefox 19+ */
	display: none;
}

.search-form .form-group input.form-control:-ms-input-placeholder {
	display: none;
}

.search-form .form-group:hover,
.search-form .form-group.hover {
	width: 100%;
	border-radius: 4px 25px 25px 4px;
}

.search-form .form-group span.form-control-feedback {
	position: absolute;
	top: -1px;
	right: -2px;
	z-index: 2;
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	color: #3596e0;
	left: initial;
	font-size: 14px;
}

/*social icons+search in navbar*/

.socialicons li>a {
	padding: 12px 8px !important;
}

.search-box .form-control {
	font-size: 13px !important;
}

.search-box {
	background-color: white;
}

.search-box .form-control:focus {
	border-bottom: 0px !important;
}

.producttab {
	color: #605f5f !important;
	/*text color for product tab*/
}

/* Show in Large desktops and laptops */

@media (min-width: 1200px) {
	.hometab {
		background: rgba(255, 255, 255, 0.5) url(http://i68.tinypic.com/2uqk4s4.jpg) no-repeat 0 50%;
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
	.contact-tab {
		background: rgba(255, 255, 255, 0.5) url(http://i66.tinypic.com/2pyw0ue.jpg) no-repeat 0 50%;
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
	.submenu1 {
		margin-left: 158px !important;
		top: 41px !important;
	}
	.submenu2 {
		margin-left: -160px !important;
		top: 126px !important;
	}
}


/* Landscape tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {
	.hometab {
		background: rgba(255, 255, 255, 0.5) url(http://i68.tinypic.com/2uqk4s4.jpg) no-repeat 0 50%;
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
	.contact-tab {
		background: rgba(255, 255, 255, 0.5) url(http://i66.tinypic.com/2pyw0ue.jpg) no-repeat 0 50%;
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
	.submenu1 {
		margin-left: 158px !important;
		top: 41px !important;
	}
	.submenu2 {
		margin-left: -160px !important;
		top: 126px !important;
	}
}

/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {
	.hometab {
		background-image: none;
	}
	.contact-tab {
		background-image: none;
	}
	.submenu1 {
		margin-left: 0px !important;
	}
	.submenu2 {
		margin-left: 0px !important;
	}
}

/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
	.hometab {
		background-image: none;
	}
	.contact-tab {
		background-image: none;
	}
	.submenu1 {
		margin-left: 0px !important;
	}
	.submenu2 {
		margin-left: 0px !important;
	}
}

/* Portrait phones and smaller */

@media (max-width: 480px) {
	.hometab {
		background-image: none;
	}
	.contact-tab {
		background-image: none;
	}
	.submenu {
		margin-left: 0px !important;
	}
	.submenu1 {
		margin-left: 0px !important;
	}
}
