* {
	font-family: 'Verela Round', sans-serif;
}

.wsmenu>.wsmenu-list,
.wsmobileheader {
	background: #03060c
}

.logo {
	float: left;
	vertical-align: middle;
}

.select2-results__options {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 14px;
	vertical-align: middle;
}

.spotlogo img {
	margin-top: 5px;
}

a {
	color: #000;
}

a:visited {
	color: #122e5a;
	;
}

.select2-results__options img {
	max-height: 24px;
	max-width: 24px;
	width: 24px;
	height: 24px;
}

hr {
	border: 0;
	height: 1px;
	background: #333;
	background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

.divider {
	height: 1px;
	background-color: rgba(255, 255, 255, 0.09);
}

.maplabel {
	font-weight: 300;
	font-size: 13px;
	overflow: hidden;
	padding-left: 15px;
	padding-bottom: 10px;
	padding-top: 5px;
}

.cpinput {
	width: 100% !important;
}

#map {
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	box-sizing: content-box;
	overflow: visible;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Verela Round', sans-serif;
}

body {
	background-image: url("/core/assets/img/pokecenter.jpg");
}

h2 {
	font-family: 'Verela Round', sans-serif;
}

td,
th {
	padding: 10px;
	font-size: 14px;
}

th {
	font-size: 16px !important;
	background-color: rgba(255, 255, 255, 0.3);
}

table#readpm {
	width: 100%;
}

table#inbox {
	width: 100%;
}

table#spotted {
	width: 35%;
	height: auto;
	background-color: rgba(192, 192, 192, 0.5);
}

table#added {
	width: 30%;
	height: auto;
	background-color: rgba(192, 192, 192, 0.5);
}

form#feedback {
	width: 30%;
	border: 1px solid #b0b0b0;
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.4);
}

div#pm {
	width: 50%
}

@media only screen and (max-width: 480px) {
	.select2-results__options {
		list-style: none;
		margin: 0;
		padding: 0;
		font-size: 12px;
		vertical-align: middle;
	}
	.select2-results__options img {
		max-height: 18px;
		max-width: 18px;
		width: 18px;
		height: 18px;
	}
	td,
	th {
		padding: 10px;
		font-size: 10px;
	}
	th {
		font-size: 12px !important;
		background-color: rgba(255, 255, 255, 0.3);
	}
	table#readpm {
		width: 85%;
		font-size: 10px;
	}
	table#inbox {
		font-size: 10px;
	}
	table#spotted {
		font-size: 10px;
		width: 85%;
	}
	table#added {
		font-size: 10px;
		width: 85%;
	}
	#map {
		height: 100%;
	}
	form#feedback {
		width: 85%;
		border: 1px solid #b0b0b0;
		padding: 15px;
	}
	div#pm {
		width: 85%;
	}
	h3 {
		font-size: 18px;
	}
	.acttrade {
		background-image: url("/core/assets/img/tradebackground.jpg");
		margin-top: -20px;
	}
	.activelisting {
		width: 97%;
		margin-left: 1.5%;
		height: 70px;
		background-color: rgba(0, 0, 0, .4);
		margin-bottom: 15px;
		border-radius: 15px 15px 15px 15px;
		border: 3px solid #fff;
	}
	.actid {
		display: none;
	}
	p {
		font-size: 9px;
	}
	.actid a {
		color: #000;
		margin-bottom: 5px;
		font-size: 9px;
	}
	.offerby {
		width: 100px;
		height: 100%;
		background-color: rgba(0, 130, 30, .4);
		border-radius: 15px 5px 5px 15px;
		color: #fff;
		padding-top: 5px !important;
		float: left;
	}
	.offerby a {
		color: #000;
		margin-bottom: 5px;
		font-size: 10px;
		color: #fff;
	}
	.offmon {
		margin-top: 15px;
		width: 35px;
		height: 30px;
		background-color: rgba(0, 0, 0, .6);
		border-radius: 10px 10px 10px 10px;
		float: left;
	}
	.offmon img {
		width: 36px;
		height: auto;
	}
	.monvars {
		width: 10px;
		height: auto;
		padding-top: 5px;
		float: left;
		margin-top: 15px;
	}
	.monvars img {
		width: 10px;
		height: auto;
		padding-bottom: 10px;
	}
	.reqmon {
		margin-left: 5px;
		width: 35px;
		height: 30px;
		background-color: rgba(0, 0, 0, .6);
		border-radius: 10px 10px 10px 10px;
		float: left;
		margin-top: 15px;
	}
	.reqmon img {
		width: 36px;
		height: auto;
		padding-bottom: 40px;
	}
	.swapimg {
		display: none;
	}
	.stats {
		padding: 0px 5px 0px 5px;
		width: auto;
		height: auto;
		background-color: rgba(0, 0, 0, .6);
		border-radius: 10px 10px 10px 10px;
		color: #fff;
		font-size: 9px;
		float: left;
		margin-top: 15px;
	}
	.control {
		width: auto;
		height: auto;
		border-radius: 10px 10px 10px 10px;
		margin-top: 15px;
		margin-right: 5px;
		float: right;
	}
	.btn0 {
		font: 14px 'Fira Sans', sans-serif;
		color: #fff;
		padding: 5px 5px 5px 5px;
		background: #91123f;
		border: none;
		border-radius: 8px;
		font-size: 10px;
	}
	.btn1 {
		font: 14px 'Fira Sans', sans-serif;
		color: #fff;
		padding: 5px 5px 5px 5px;
		background: #00821e;
		border: none;
		border-radius: 8px;
		font-size: 10px;
	}
	.btn2 {
		font: 14px 'Fira Sans', sans-serif;
		color: #fff;
		padding: 5px 5px 5px 5px;
		background: #00c931;
		border: none;
		border-radius: 8px;
		font-size: 10px;
	}
	.btn3 {
		font: 14px 'Fira Sans', sans-serif;
		color: #fff;
		padding: 5px 5px 5px 5px;
		background: #1b00ef;
		border: none;
		border-radius: 8px;
		font-size: 10px;
	}
}

@media only screen and (max-width: 768px) and (min-width:481px) {
	.acttrade {
		background-image: url("/core/assets/img/tradebackground.jpg");
		margin-top: -20px;
	}
	.activelisting {
		width: 80%;
		margin-left: 10%;
		height: 70px;
		background-color: rgba(0, 0, 0, .4);
		margin-bottom: 15px;
		border-radius: 15px 15px 15px 15px;
		border: 3px solid #fff;
	}
	.actid {
		display: none;
	}
	p {
		font-size: 9px;
	}
	.actid a {
		color: #000;
		margin-bottom: 5px;
		font-size: 9px;
	}
	.offerby {
		width: 100px;
		height: 100%;
		background-color: rgba(0, 130, 30, .4);
		border-radius: 15px 5px 5px 15px;
		color: #fff;
		padding-top: 5px !important;
		float: left;
	}
	.offerby a {
		color: #000;
		margin-bottom: 5px;
		font-size: 10px;
		color: #fff;
	}
	.offmon {
		margin-top: 10px;
		margin-left: 10px;
		width: 45px;
		height: 40px;
		background-color: rgba(0, 0, 0, .6);
		border-radius: 10px 10px 10px 10px;
		float: left;
	}
	.offmon img {
		width: 46px;
		height: auto;
	}
	.monvars {
		width: 5px;
		height: auto;
		padding-top: 5px;
		float: left;
		margin-top: 20px;
		margin-left: 5px;
	}
	.monvars img {
		width: 10px;
		height: auto;
		padding-bottom: 10px;
	}
	.reqmon {
		margin-left: 10px;
		width: 45px;
		height: 40px;
		background-color: rgba(0, 0, 0, .6);
		border-radius: 10px 10px 10px 10px;
		float: left;
		margin-top: 10px;
	}
	.reqmon img {
		width: 46px;
		height: auto;
		padding-bottom: 40px;
	}
	.swapimg {
		display: none;
	}
	.stats {
		padding: 0px 5px 0px 5px;
		width: auto;
		height: auto;
		background-color: rgba(0, 0, 0, .6);
		border-radius: 10px 10px 10px 10px;
		color: #fff;
		font-size: 10px;
		float: left;
		margin-top: 10px;
		margin-left: 10px;
	}
	.control {
		width: auto;
		height: auto;
		border-radius: 10px 10px 10px 10px;
		margin-top: 20px;
		margin-right: 5px;
		float: right;
	}
	.btn0 {
		font: 14px 'Fira Sans', sans-serif;
		color: #fff;
		padding: 5px 5px 5px 5px;
		background: #91123f;
		border: none;
		border-radius: 8px;
		font-size: 10px;
	}
	.btn1 {
		font: 14px 'Fira Sans', sans-serif;
		color: #fff;
		padding: 5px 5px 5px 5px;
		background: #00821e;
		border: none;
		border-radius: 8px;
		font-size: 10px;
	}
	.btn2 {
		font: 14px 'Fira Sans', sans-serif;
		color: #fff;
		padding: 5px 5px 5px 5px;
		background: #00c931;
		border: none;
		border-radius: 8px;
		font-size: 10px;
	}
	.btn3 {
		font: 14px 'Fira Sans', sans-serif;
		color: #fff;
		padding: 5px 5px 5px 5px;
		background: #1b00ef;
		border: none;
		border-radius: 8px;
		font-size: 10px;
	}
}

@media only screen and (max-width: 1080px) and (min-width:769px) {
	.nav-link:hover {
		background: rgb(0, 0, 0, 0.35);
	}
	.acttrade {
		background-image: url("/core/assets/img/tradebackground.jpg");
		margin-top: -20px;
	}
	.activelisting {
		width: 80%;
		margin-left: 10%;
		height: 100px;
		background-color: rgba(0, 0, 0, .4);
		margin-bottom: 15px;
		border-radius: 15px 15px 15px 15px;
		border: 3px solid #fff;
	}
	.actid {
		display: none;
	}
	p {
		font-size: 10px;
	}
	.actid a {
		color: #000;
		margin-bottom: 5px;
		font-size: 9px;
	}
	.offerby {
		width: 120px;
		height: 100%;
		background-color: rgba(0, 130, 30, .4);
		border-radius: 15px 5px 5px 15px;
		color: #fff;
		padding-top: 15px !important;
		float: left;
	}
	.offerby a {
		color: #000;
		margin-bottom: 5px;
		font-size: 12px;
		color: #fff;
	}
	.offmon {
		margin-top: 15px;
		margin-left: 25px;
		width: 65px;
		height: 60px;
		background-color: rgba(0, 0, 0, .6);
		border-radius: 10px 10px 10px 10px;
		float: left;
	}
	.offmon img {
		width: 66px;
		height: auto;
	}
	.monvars {
		width: 10px;
		height: auto;
		padding-top: 10px;
		float: left;
		margin-top: 15px;
		margin-left: 10px;
	}
	.monvars img {
		width: 10px;
		height: auto;
		padding-bottom: 10px;
	}
	.reqmon {
		margin-left: 25px;
		width: 65px;
		height: 60px;
		background-color: rgba(0, 0, 0, .6);
		border-radius: 10px 10px 10px 10px;
		float: left;
		margin-top: 15px;
	}
	.reqmon img {
		width: 66px;
		height: auto;
		padding-bottom: 40px;
	}
	.swapimg img {
		margin-left: 20px;
		margin-top: 35px;
		width: 30px;
		height: auto;
		float: left;
	}
	.stats {
		padding: 0px 5px 0px 5px;
		width: auto;
		height: auto;
		background-color: rgba(0, 0, 0, .6);
		border-radius: 10px 10px 10px 10px;
		color: #fff;
		font-size: 12px;
		float: left;
		margin-top: 15px;
		margin-left: 25px;
	}
	.control {
		width: auto;
		height: auto;
		border-radius: 10px 10px 10px 10px;
		margin-top: 35px;
		margin-right: 25px;
		float: right;
	}
	.btn0 {
		font: 14px 'Fira Sans', sans-serif;
		color: #fff;
		padding: 5px 5px 5px 5px;
		background: #91123f;
		border: none;
		border-radius: 8px;
		font-size: 12px;
	}
	.btn1 {
		font: 14px 'Fira Sans', sans-serif;
		color: #fff;
		padding: 5px 5px 5px 5px;
		background: #00821e;
		border: none;
		border-radius: 8px;
		font-size: 12px;
	}
	.btn2 {
		font: 14px 'Fira Sans', sans-serif;
		color: #fff;
		padding: 5px 5px 5px 5px;
		background: #00c931;
		border: none;
		border-radius: 8px;
		font-size: 12px;
	}
	.btn3 {
		font: 14px 'Fira Sans', sans-serif;
		color: #fff;
		padding: 5px 5px 5px 5px;
		background: #1b00ef;
		border: none;
		border-radius: 8px;
		font-size: 12px;
	}
}

@media only screen and (max-width: 1440px) and (min-width:1080px) {
	.nav-link:hover {
		background: rgb(0, 0, 0, 0.35);
	}
	.acttrade {
		background-image: url("/core/assets/img/tradebackground.jpg");
		margin-top: -20px;
	}
	.activelisting {
		width: 80%;
		margin-left: 10%;
		height: 100px;
		background-color: rgba(0, 0, 0, .4);
		margin-bottom: 15px;
		border-radius: 15px 15px 15px 15px;
		border: 3px solid #fff;
	}
	.actid {
		display: none;
	}
	p {
		font-size: 11px;
	}
	.actid a {
		color: #000;
		margin-bottom: 5px;
		font-size: 9px;
	}
	.offerby {
		width: 120px;
		height: 100%;
		background-color: rgba(0, 130, 30, .4);
		border-radius: 15px 5px 5px 15px;
		color: #fff;
		padding-top: 15px !important;
		float: left;
	}
	.offerby a {
		color: #000;
		margin-bottom: 5px;
		font-size: 14px;
		color: #fff;
	}
	.offmon {
		margin-top: 10px;
		margin-left: 40px;
		width: 75px;
		height: 70px;
		background-color: rgba(0, 0, 0, .6);
		border-radius: 10px 10px 10px 10px;
		float: left;
	}
	.offmon img {
		width: 76px;
		height: auto;
	}
	.monvars {
		width: 10px;
		height: auto;
		padding-top: 5px;
		float: left;
		margin-top: 15px;
		margin-left: 15px;
	}
	.monvars img {
		width: 15px;
		height: auto;
		padding-bottom: 10px;
	}
	.reqmon {
		margin-top: 10px;
		margin-left: 40px;
		width: 75px;
		height: 70px;
		background-color: rgba(0, 0, 0, .6);
		border-radius: 10px 10px 10px 10px;
		float: left;
	}
	.reqmon img {
		width: 76px;
		height: auto;
		padding-bottom: 40px;
	}
	.swapimg img {
		margin-left: 20px;
		margin-top: 35px;
		width: 30px;
		height: auto;
		float: left;
	}
	.stats {
		padding: 0px 5px 0px 5px;
		width: auto;
		height: auto;
		background-color: rgba(0, 0, 0, .6);
		border-radius: 10px 10px 10px 10px;
		color: #fff;
		font-size: 12px;
		float: left;
		margin-top: 10px;
		margin-left: 40px;
	}
	.control {
		width: auto;
		height: auto;
		border-radius: 10px 10px 10px 10px;
		margin-top: 35px;
		margin-right: 25px;
		float: right;
	}
	.btn0 {
		font: 14px 'Fira Sans', sans-serif;
		color: #fff;
		padding: 5px 5px 5px 5px;
		background: #91123f;
		border: none;
		border-radius: 8px;
		font-size: 12px;
	}
	.btn1 {
		font: 14px 'Fira Sans', sans-serif;
		color: #fff;
		padding: 5px 5px 5px 5px;
		background: #00821e;
		border: none;
		border-radius: 8px;
		font-size: 12px;
	}
	.btn2 {
		font: 14px 'Fira Sans', sans-serif;
		color: #fff;
		padding: 5px 5px 5px 5px;
		background: #00c931;
		border: none;
		border-radius: 8px;
		font-size: 12px;
	}
	.btn3 {
		font: 14px 'Fira Sans', sans-serif;
		color: #fff;
		padding: 5px 5px 5px 5px;
		background: #1b00ef;
		border: none;
		border-radius: 8px;
		font-size: 12px;
	}
}

@media only screen and (max-width: 2880px) and (min-width:1441px) {
	.nav-link:hover {
		background: rgb(0, 0, 0, 0.35);
	}
	.acttrade {
		background-image: url("/core/assets/img/tradebackground.jpg");
		margin-top: -20px;
	}
	.activelisting {
		width: 70%;
		margin-left: 15%;
		height: 100px;
		background-color: rgba(0, 0, 0, .4);
		margin-bottom: 15px;
		border-radius: 15px 15px 15px 15px;
		border: 3px solid #fff;
	}
	.actid {
		display: none;
	}
	p {
		font-size: 10px;
	}
	.actid a {
		color: #000;
		margin-bottom: 5px;
		font-size: 9px;
	}
	.offerby {
		width: 120px;
		height: 100%;
		background-color: rgba(0, 130, 30, .4);
		border-radius: 15px 5px 5px 15px;
		color: #fff;
		padding-top: 15px !important;
		float: left;
	}
	.offerby a {
		color: #000;
		margin-bottom: 5px;
		font-size: 14px;
		color: #fff;
	}
	.offmon {
		margin-top: 10px;
		margin-left: 60px;
		margin-right: 20px;
		width: 75px;
		height: 70px;
		background-color: rgba(0, 0, 0, .6);
		border-radius: 10px 10px 10px 10px;
		float: left;
	}
	.offmon img {
		width: 76px;
		height: auto;
	}
	.monvars {
		width: 10px;
		height: auto;
		padding-top: 5px;
		float: left;
		margin-top: 15px;
		margin-right: 10px;
	}
	.monvars img {
		width: 15px;
		height: auto;
		padding-bottom: 10px;
	}
	.reqmon {
		margin-top: 10px;
		margin-left: 60px;
		width: 75px;
		height: 70px;
		background-color: rgba(0, 0, 0, .6);
		border-radius: 10px 10px 10px 10px;
		display: inline-block;
	}
	.reqmon img {
		width: 76px;
		height: auto;
		padding-bottom: 40px;
	}
	.swapimg img {
		margin-left: 60px;
		margin-bottom: 60px;
		width: 30px;
		height: auto;
	}
	.stats {
		padding: 0px 5px 0px 5px;
		width: auto;
		height: auto;
		background-color: rgba(0, 0, 0, .6);
		border-radius: 10px 10px 10px 10px;
		color: #fff;
		font-size: 12px;
		float: left;
		margin-top: 10px;
		margin-left: 60px;
	}
	.control {
		width: auto;
		height: auto;
		border-radius: 10px 10px 10px 10px;
		margin-top: 35px;
		margin-right: 25px;
		float: right;
	}
	.btn0 {
		font: 14px 'Fira Sans', sans-serif;
		color: #fff;
		padding: 5px 5px 5px 5px;
		background: #91123f;
		border: none;
		border-radius: 8px;
		font-size: 12px;
	}
	.btn1 {
		font: 14px 'Fira Sans', sans-serif;
		color: #fff;
		padding: 5px 5px 5px 5px;
		background: #00821e;
		border: none;
		border-radius: 8px;
		font-size: 12px;
	}
	.btn2 {
		font: 14px 'Fira Sans', sans-serif;
		color: #fff;
		padding: 5px 5px 5px 5px;
		background: #00c931;
		border: none;
		border-radius: 8px;
		font-size: 12px;
	}
	.btn3 {
		font: 14px 'Fira Sans', sans-serif;
		color: #fff;
		padding: 5px 5px 5px 5px;
		background: #1b00ef;
		border: none;
		border-radius: 8px;
		font-size: 12px;
	}
}

/* Login Modal Content  */

#auth-modal-content {
	background-color: rgba(35, 39, 32, 0.00);
}

#auth-modal .modal-title {
	margin-top: 15px;
	margin-bottom: 5px;
	color: white;
}

#auth-modal input,
.login-fields {
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

#auth-modal input:invalid,
.login-fields:invalid {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	box-shadow: 12, 0, 4, -4 red;
}

#auth-modal .login-row {
	margin: 0px;
	padding: 0px;
	font-family: average Sans, sans-serif;
}

#auth-modal .btn {
	background-color: #7289DA;
}

.discord-modal {
	padding: 0px;
	text-align: center;
	background-color: rgba(249, 242, 242, 0.63);
}

.email-modal {
	background-color: rgba(35, 39, 32, 0.63);
	text-align: center;
	color: white;
	min-height: 250px;
}

#discord-logo-login {
	margin: 0px;
	max-height: 150px;
	margin-top: 23px;
	max-width: 150px;
}

#discord-logo-register {
	margin: 0px;
	max-height: 150px;
	margin-top: 55px;
	max-width: 150px;
}

#login-form * {
	color: white;
	text-align: center;
}

#auth-modal .login-fields {
	background-color: rgba(233, 236, 239, 0);
	color: rgb(255, 255, 255);
	width: 40px;
}

#auth-modal .login-button {
	margin-bottom: 14px;
	margin-right: 0px;
}

#auth-modal a {
	color: #7289DA;
}

#auth-modal a:hover {
	color: #9d9d9d;
}

#form-switch {
	margin-right: -15px;
	margin-bottom: 9px;
}

.discord-modal .modal-title {
	color: rgba(35, 39, 32, 0.63) !important;
}

.blur {
	-webkit-filter: blur(2px) grayscale(50%);
	-moz-filter: blur(2px) grayscale(50%);
	-o-filter: blur(2px) grayscale(50%);
	-ms-filter: blur(2px) grayscale(50%);
	filter: blur(2px) grayscale(50%);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flex-expand {
	flex-grow: 1;
	max-width: 800px;
	transition: all 600ms ease;
}

.flex-hide {
	max-width: 0px;
	overflow: hidden;
	padding: 0;
	flex-shrink: 1;
	transition: all 600ms ease;
}

.modal-body::before {
	position: relative;
	-webkit-filter: blur(2px) grayscale(50%);
	-moz-filter: blur(2px) grayscale(50%);
	-o-filter: blur(2px) grayscale(50%);
	-ms-filter: blur(2px) grayscale(50%);
	filter: blur(2px) grayscale(50%);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.login-row {
	display: flex;
	flex: 45%;
	background-color: rgb(0, 0, 0, .4);
}

.loader {
	position: relative;
	margin: 0;
	padding: 0;
	display: block;
}

#menu-container {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}

#map {
	-webkit-transform: translate3D(0, 0, 0);
	transform: translate3D(0, 0, 0);
}

p.bodyspacer {
	height: 50px;
	padding: 25px;
	display: block;
	margin: 0;
}

.discord-dark {
	background-color: #23272A;
	color: white;
	background-image: none;
}

.discord-subtext {
	color: #99AAB5;
}

.discord {
	background-color: #2C2F33;
	color: white;
}

.discord-blue {
	background-color: #7289DA;
	background-image: none;
	color: white;
	text-decoration: none;
}

.discord-logo-text-white {
	background-image: url(/core/assets/img/Discord_Logo_text_white.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 55px;
}

.btn-discord {
	background-color: #7289DA;
	color: #2C2F33 !important;
	text-align: center;
}

.btn-discord .fab {
	border: right 2px solid black !important;
	padding-right: 8px;
}

.no-wrap {
	white-space: nowrap;
}
